body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.container {
    background: white;
    width: 1280px;
    margin: 0 auto;
}


/*Dark Mode*/

body.dark-mode{
    background: #121212;
    color: #f1f1f1;
}

body.dark-mode .container{
    background: #1e1e1e;
   
}

body.dark-mode nav a{
    color: #f1f1f1;
}

body.dark-mode button{
    background: #494949;
    color: #f1f1f1;
}

/*Game*/

.game-card {
    margin-top: 20px;
    padding: 20px;
    border-radius: 12px;
    background: #ffffff;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    text-align: center;
}

.result-box {
    margin: 15px 0;
    padding: 10px;
    border-radius: 10px;
    background: #f2f2f2;
}

.result-box p {
    margin: 0;
    font-weight: bold;
}

#playerGuess,
#computerNumber {
    font-size: 28px;
    font-weight: bold;
    display: block;
    margin-top: 5px;
}

.message {
    font-size: 18px;
    margin-top: 15px;
}

/*Game Dark Mode*/

body.dark-mode .game-card {
    background: #1e1e1e;
    color: #fff;
}

body.dark-mode .result-box {
    background: #2a2a2a;
}


/*Buttons*/

button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: #333;
    color: white;
    font-size: 16px;
    transition: 0.2s ease;
}

button:hover {
    background: #555;
    transform: scale(1.05);
}


/*Nav*/

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
}

nav {
    background: #ddd;
    padding: 15px 0;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

section{
    padding: 40px 0;
}


/*Contact*/

#contactForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: 0 auto;
}